#navigation
  %ul
    %li{:class => check_if_active(:home)}= link_to I18n.t("_navigation.home"), root_path
    %li{:class => check_if_active(:users)}= link_to I18n.t("_navigation.members"), users_path
    %li{:class => check_if_active(:projects)}= link_to I18n.t("_navigation.projects"), projects_path
    %li{:class => check_if_active(:podcasts)}= link_to I18n.t("_navigation.podcast"), podcasts_path
    / %li{:class => check_if_active(:jobs)}= link_to I18n.t("_navigation.job"), jobs_path
